@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    height: 100%;
}

.logo {
    background: url("../images/dave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 260px;
}

/*--------------------------------------------Fonts*/

.lora {
    font-family: "Lora";
}

.ssf {
    font-family: "Source Serif 4";
}

/*--------------------------------------------Colors*/

.bg-color-light {
    background-color: #42f5b9;
    height: 100px;
}
.bg-color-dark {
    background-color: #0f4d19;
}

/*---------------------------------------------header */

header {
    margin: 0;
}

.nav {
    padding: 10px 10%;
    height: 100px;
}

.nav-item {
    margin: auto;
}

.nav-link {
    color: #0f4d19;
    font-size: 15px;
}

.title {
    color: #42f5b9;
    text-align: center;
    padding-top: 22px;
    font-weight: 400;
}

.top {
    --bs-gutter-x: 0;
}

/*---------------------------------------------Main */

.main {
    background-color: #42f5b9;
    color: #0f4d19;
    text-align: center;
    padding: 15px 50px 13px; 
}

.main h2 {
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
}

.main p {
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/*---------------------------------------------Footer */

footer {
    margin: 0;
}

footer a {
    color: #0f4d19;
    text-decoration: none;
}

.centered {
    text-align: center;
    padding: 40px 0;
}

span {
    padding: 0 100px;
    color: #42f5b9;
    font-size: 25px;
}

.fa-book {
    padding-right: 2px;
}







