@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.logo {
    background: url("../images/dave.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

/*--------------------------------------------Fonts*/

.lora {
    font-family: "Lora";
}

.ssf {
    font-family: "Source Serif 4";
}

/*--------------------------------------------Colors*/

.bg-color-nav {
    background-color: #6fc27c;
    height: 100px;
}
.bg-color-title {
    background-color: #0f4d19;
}

/*---------------------------------------------header */

header {
    margin: 0;
}

.nav {
    padding: 10px 10%;
    height: 100px;
}

.nav-item {
    margin: auto;
}

.nav-link {
    color: #0f4d19;
    font-family: "Lora";
    font-size: 15px;
}

.title {
    color: #6fc27c;
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Source Serif 4";
}

/*---------------------------------------------Title */




