@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

body {
    height: 100vh;
}

#no-gutter1, #no-gutter2 {
    --bs-gutter-x: 0;
}

/*--------------------------------------------Fonts*/

.lora {
    font-family: "Lora", serif;
}

.ssf {
    font-family: "Source Serif 4", serif;
}

/*--------------------------------------------Colors*/

.bg-color-light {
    background-color: #42f5b9;
    height: 100px;
}
.bg-color-dark {
    background-color: #0f4d19;
}

/*---------------------------------------------header */

header {
    margin: 0;
}

.nav {
    padding: 10px 10%;
    height: 100px;
}

.nav-item {
    margin: auto;
}

.nav-link {
    color: #0f4d19;
    font-size: 15px;
    padding: 0;
}

.nav-link:hover {
    color: white;
}

.title {
    color: #42f5b9;
    text-align: center;
    padding-top: 22px;
    font-weight: 400;
}

.top {
    --bs-gutter-x: 0;
    margin-right: 0;
    padding-right: 0;
}

/*---------------------------------------------Section Picture */

img {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*---------------------------------------------Index Main */

.main {
    background-color: #42f5b9;
    color: #0f4d19;
    text-align: center;
    padding: 15px 50px 20px; 
}

.main h2 {
    font-size: 25px;
    padding-top: 0px;
    margin-top: 0px;
}

.main p {
    font-size: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.main-icon {
    padding-right: 10px;
}

.main-info {
    padding-top: 5px;
}

/*---------------------------------------------Footer */

footer {
    margin: 0;
}

footer a {
    color: #0f4d19;
    text-decoration: none;
}

.social-anchor {
    display: inline-block;
    width: 25px;
    margin: 0 16%;
}

.social i {
    color: #42f5b9;
    font-size: 25px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5px;
    cursor: pointer;
}

.fa-book {
    padding-right: 5px;
}

.business {
    text-align: center;
    padding-top: 40px;
}

.social {
    text-align: center;
    padding-top: 30px;
}

/*---------------------------------------------Video section */

.video-section {
    background-color: #42f5b9;
    color: #0f4d19;
    text-align: center;
    padding: 40px 50px 50px; 
}

.video-section p {
    padding-top: 30px;
    font-size: larger;
}

#video-heading {
    padding-bottom: 25px;
}

video {
    width: 400px;
    height: auto;
}

/*---------------------------------------------Contact section */

.contact-section {
    background-color: #42f5b9;
    color: #0f4d19;
    padding: 25px 50px 15px; 
}

.contact-section h3 {
    padding-bottom: 10px;
}

#message {
    margin-bottom: 15px;
    width: 100%;
    resize: none;
}

#submit {
    background-color: #0f4d19;
    color: #42f5b9;
    border: 0;
}

#contact-width {
    max-width: 70%;
    margin: auto;
    text-align: center;
}

label {
    padding-bottom: 5px;
}

.contact-icon {
    padding-right: 10px;
}

/*---------------------------------------------Thanks section */

.thanks-section {
    background-color: #42f5b9;
    color: #0f4d19; 
}

.thanks-section h3 {
    display: inline-block;
    text-align: center;
    margin: 120px 60px 60px
}

/*---------------------------------------------Media queries */

@media only screen and (max-width: 1100px) and (min-width: 967px) {

    .main-info h2, .main-info p {
        font-size: 85%;
    }    

}

@media only screen and (max-width: 966px) and (min-width: 882px) {

    .main-info h2, .main-info p {
        font-size: 75%;
    }    

}

@media only screen and (max-width: 881.5px) and (min-width: 795px) {

    .main-info h2, .main-info p {
        font-size: 65%;
    }    

}

@media only screen and (max-width: 794.5px) and (min-width: 768px) {

    .main-info h2, .main-info p {
        font-size: 55%;
    }    

}

@media only screen and (max-width: 767.5px) {
    
    #footer-left {
      display: none;
    }

    #select-page {
        height: 70px;
    }

    .nav-item {
        margin: 0;
        padding-top: 7px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        padding-top: 13px;
        padding-bottom: 6px;
    }

    .social {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    video {
        width: 300px;
    }

    .main-icon {
        display: block;
        padding-bottom: 10px;
    }

    .thanks-section h3 {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 443.5px) {

    .nav-item {
        margin: 0;
        padding-top: 7px;
        margin-left: 0;
        margin-right: 0;
    }

    .nav-link {
        padding: 10px;
        margin-top: -5px;
    }

    video {
        width: 300px;
    }
}

@media only screen and (min-width: 1100px) {

    #video-heading {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1200px) {

    #video-heading {
        padding-top: 40px;
    }

    #contact-heading {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1300px) {

    .main h2 {
        font-size: 120%;
        padding-top: 1%;
    }

    .main p {
        font-size: 120%;
    }

    #video-heading {
        padding-top: 50px;
    }

    .video-section p {
        font-size: 140%;
    }

    #contact-heading {
        padding-top: 30px;
    }

    .thanks-section h3 {
        padding-top: 50px;
    }
}

@media only screen and (min-width: 1500px) {

    .main h2, .main p {
        font-size: 140%;
    }

    #contact-heading {
        padding-top: 50px;
        font-size: 200%;
    }

    #contact-heading + p, label, #emailHelp {
        font-size: 130%;
    }

    .video-section p {
        font-size: 180%;
    }

    #video-heading {
        padding-top: 50px;
        font-size: 200%;
    }
}

@media only screen and (min-width: 1700px) {

    .main h2, .main p {
        font-size: 160%;
    }

    #video-heading {
        padding-top: 120px;
        font-size: 250%;
    }

    .video-section p {
        font-size: 230%;
    }

    #contact-heading {
        padding-top: 100px;
    }

    .thanks-section h3 {
        padding: 100px;
    }
}

@media only screen and (min-width: 1900px) {

    .main h2, .main p {
        font-size: 180%;
    }

    #video-heading {
        padding-top: 120px;
        font-size: 300%;
    }

    .video-section p {
        font-size: 280%;
    }

    #contact-heading {
        padding-top: 100px;
        font-size: 300%;
    }

    #contact-heading + p, label, #emailHelp {
        font-size: 200%;
    }

    .thanks-section h3 {
        padding: 100px;
    }
}

@media only screen and (min-width: 2100px) {

    .main h2, .main p {
        font-size: 200%;
    }

    #video-heading {
        padding-top: 120px;
    }

    #contact-heading {
        padding-top: 100px;
    }

    .thanks-section h3 {
        padding: 100px;
    }
}

